.main_index
  .introduce 
    SNSと連携して家族を探すためのアプリケーション
    .main-image
      = image_tag"oo.png"
  
  .contents-intro  
    .intro-title
      %p.comment
        『SNSで探していたあの子見つかった？』<br>
      %p.comment
        まずは掲示板であの子の情報を登録しましょう。<br>
        家猫の移動予想範囲を色付き表示、探したところにはピンを立てて。<br>
      %p.comment
        チャットルームで情報を共有。不安な時の相談にも。<br>
        保護した猫ちゃんも掲示板で報告、見つからない時には里親さんも探せます。<br>
      %p.comment
        『早く見つけてあげたいから、張り紙も作らなきゃ。<br>
        時間は惜しいけど、情報を詰め込んだものを作りたい』<br>
        そんな飼い主さんは簡単作成フォームを利用して、PDFを作成可能。<br>
        印刷してご近所さんに配布、勿論そのままSNSに貼ってもOKです<br>

      %p.comment
        朝も夜も、どんなときも、一緒に探そう


  .card-section
    .card-list
      %ul.card-list-ny
        %li.card-list-ny__item
          .card-img
            = image_tag"sagasu.jpg"
          .card-text
            迷い猫を探す<br>
            いなくなった子を掲示板でお知らせして一緒に探してくれる人を探そう
            
        %li.card-list-ny__item
          .card-img
            = image_tag"hogo.jpg"
          %p.card-text
            保護猫から探す<br>
            保護している子を掲示板に投稿してお知らせしよう
        %li.card-list-ny__item
          .card-img
            = image_tag"pos.jpg"
          %p.card-text
            張り紙を作る<br>
            フォームに入力するだけですぐに張り紙が完成。
  .page_top_btn
    = link_to "#" do
      .page_top__icon
        = icon('fas','angle-double-up',class: 'icon')
      .page_top__text
        TOP
  .footer
    ©2020- Lost Cat Search / produced by koz