.main_index
  .introduce 
    家族を探すためのアプリケーション
    .main-image
      = image_tag"oo.png"
  
  .contents-intro  
    .intro-title
      %p.comment
        『大事なあの子、探しています。』<br>
      %p.comment
        まずは掲示板でいなくなってしまった猫ちゃんの情報を登録しましょう。<br>

      %p.comment
        『早く見つけてあげたいから、張り紙も作らなきゃ』<br>
        そんな飼い主さんは簡単作成フォームを利用して、PDFを作成可能。<br>
        印刷してご近所さんに配布、勿論そのままSNSに貼ってもOKです<br>

      


  .card-section
    .card-list
      %ul.card-list-ny
        %li.card-list-ny__item
          .card-img
            = image_tag"sagasu.jpg"
          .card-text
            迷い猫を探す<br>
            いなくなった子を掲示板でお知らせ
        %li.card-list-ny__item
          .card-img
            = image_tag"pos.jpg"
          %p.card-text
            張り紙を作る<br>
            フォームに入力するだけですぐに張り紙が完成。
  .page_top_btn
    = link_to "#" do
      .page_top__icon
        = icon('fas','angle-double-up',class: 'icon')
      .page_top__text
        TOP
  .footer
    ©2020- Lost Cat Search / produced by koz