.maigo_top
  .header-mayoineko
    迷子情報の変更
  = form_for @maigo do |f|
    フォーム内容
    .field__input
      = f.label :image do
        = f.label :画像
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
    .field__input
      = f.label :名前
      = f.text_field :name,placeholder: '猫の名前を入力', class: 'm-form'
    .field__input
      = f.label :年齢
      = f.number_field :age,placeholder: '半角数字で入力', class: 'm-form'
    .field__input
      = f.label :性別
      = f.text_field :sex,placeholder: 'オス、メス（去勢の有無）', class: 'm-form'
    .field__input
      = f.label :場所
      = f.text_field :address,placeholder: '○○市番地付近など失踪場所', class: 'm-form'
    .field__input
      = f.label :備考
      = f.text_area :content,placeholder: '失踪日、特徴', class: 'm-form2'
      
    .actions
      = f.submit '変更する', class: 'm-submit'


  = link_to 'トップページに戻る', maigos_path
