.form_top
  .header-form
    迷子の登録フォーム
  = form_for @maigo do |f|
    - if @maigo.errors.any?
      #error_explanation
        %h2= "#{@maigo.errors.full_messages.count} 件のエラーが発生しました。"
        %ul
          - @maigo.errors.full_messages.each do |message|
            %li= message

      
    .form-box
      .field__input
        = f.label :image do
          = f.label :画像
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, required: true,class: 'hidden'
          %span
            必須
      .field__input
        = f.label :名前
        = f.text_field :name,required: true,placeholder: '猫の名前', class: 'm-form'
        %span
          必須
      .field__input
        = f.label :年齢
        = f.number_field :age,placeholder: '半角数字（不明時は大体で可）', class: 'm-form'
        %span_2
          任意
      .field__input
        = f.label :性別
        = f.text_field :sex,placeholder: 'オス、メス、不明（去勢の有無）', class: 'm-form'
        %span_2
          任意
      .field__input
        = f.label :場所
        = f.text_field :address,required: true,placeholder: '○○市番地付近など失踪場所', class: 'm-form'
        %span
          必須
      .field__input
        = f.label :備考
        = f.text_area :content,required: true,placeholder: '失踪日、特徴', class: 'm-form2'
        %span
          必須
        
        .actions
          = f.submit '登録', class: 'm-submit'
      .exit-box
        = link_to '戻る', maigos_path